/*@import 'common/mixin'
    @media (max-width: 550px){
        @content;
    }
*/

#header{
    background-color: black;
    position: relative;
    display: flex;
    align-content: center;
    padding: 2px;
    }

.container-hero{
    box-sizing: border-box;
    background-size: 500px;
    }

.foto{
        /*min-width: 100px;
        height: 250px;
        max-height: 300px;*/
        position: relative;
        left: -55px;
        top: -90px;
        width: 469px;

        background-position: center center;
        }

.container1{
    text-align: center;
    position: absolute;
    left: 89px;
    top: 156px;
    }
.container1 
        .limited{
            font-size: 21px;
            font-weight: 600;
            }        

.container1 .Noxu-fabrics{
    font-style: italic;
    font-size: 15px;
    margin-top: 9px;
    margin-bottom: 5px;
    }

.container2{
    display: block;   
    border-color: white;
    border-style: solid;
    padding: 4px;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    position: relative;
    left: 121px;
    top: -93px;
    width: 201px; 
    }

.container2 .view-all{
    font-size: 32px;
    font-weight: 800;

}
.container2-1{
    display: block;
    margin-top: 50px;
    margin-bottom: 78px;
    width: 59px;
    text-align: center;
    position: relative;
    left: 127px;
    top: -101px;
    }

.container2-1 .featured{
    font-size: 49px;
    font-weight: 800;
}

.clothes{
    display: block;
    box-sizing: border-box;
    position: relative;
    left: 43px;
    top: -84px;
}
.tshirt-card{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    width: 346px;
    height: 500px;
    background-color: white;
    margin-bottom: 45px;
    position: relative;
    top: -47px;
    left: 12px;
    border-radius: 10px;
    }

    .tshirt-card .photo{
    overflow: hidden;
    position: relative;
    top: -2px;
    left: -2px;
    border-radius: 10px 10px 0px 0px;
    }
    .tshirt-card .note1{
    color: black;
    font-weight: bold;
    position: relative;
    top: 8px;
    left: 3px;
    font-size: 23px;
    }

    .tshirt-card .price{
        text-align: right;
        color: black;
        font-weight: bold;
        position: relative;
        top: -66px;
        left: -7px;
        font-size: 23px;
    }
    .tshirt-card .icon-star{
    color: black;
    position: relative;
    top: -46px;
    left: 8px;
    font-size: 22px;
    }

.jacket-card{
        border: 2px solid white;
        display: flex;
        flex-direction: column;
        width: 346px;
        height: 500px;
        background-color: white;
        margin-bottom: 45px;
        position: relative;
        top: -47px;
        left: 12px;
        border-radius: 10px;
        }
    
        .jacket-card .photo{
        overflow: hidden;
        position: relative;
        top: -2px;
        left: -2px;
        border-radius: 10px 10px 0px 0px;
        }
        .jacket-card .note2{
        color: black;
        font-weight: bold;
        position: relative;
        top: 8px;
        left: 3px;
        font-size: 23px;
        }
    
        .jacket-card .price{
            text-align: right;
            color: black;
            font-weight: bold;
            position: relative;
            top: -66px;
            left: -7px;
            font-size: 23px;
        }
        .jacket-card .icon-star{
        color: black;
        position: relative;
        top: -46px;
        left: 8px;
        font-size: 22px;
        }

.bomber-card{
        border: 2px solid white;
        display: flex;
        flex-direction: column;
        width: 346px;
        height: 500px;
        background-color: white;
        margin-bottom: 45px;
        position: relative;
        top: -47px;
        left: 12px;
        border-radius: 10px;
        }
        
        .bomber-card .photo{
        overflow: hidden;
        position: relative;
        top: -2px;
        left: -2px;
        border-radius: 10px 10px 0px 0px;
        }
        .bomber-card .note3{
        color: black;
        font-weight: bold;
        position: relative;
        top: 8px;
        left: 3px;
        font-size: 23px;
        }
        
        .bomber-card .price{
        text-align: right;
        color: black;
        font-weight: bold;
        position: relative;
        top: -66px;
        left: -7px;
        font-size: 23px;
        }
        .bomber-card .icon-star{
        color: black;
        position: relative;
        top: -46px;
        left: 8px;
        font-size: 22px;
        }

.ripped-card{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    width: 346px;
    height: 500px;
    background-color: white;
    margin-bottom: 45px;
    position: relative;
    top: -47px;
    left: 12px;
    border-radius: 10px;
    }
        .ripped-card .photo{
            overflow: hidden;
            position: relative;
            top: -2px;
            left: -2px;
            border-radius: 10px 10px 0px 0px;
            }
            .ripped-card .note4{
                color: black;
                font-weight: bold;
                position: relative;
                top: 8px;
                left: 3px;
                font-size: 23px;
                }
            .ripped-card .price{
                text-align: right;
                color: black;
                font-weight: bold;
                position: relative;
                top: -66px;
                left: -7px;
                font-size: 23px;
                }
            .ripped-card .icon-star{
                color: black;
                position: relative;
                top: -46px;
                left: 8px;
                font-size: 22px;
                }

.spooky-card{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    width: 346px;
    height: 500px;
    background-color: white;
    margin-bottom: 45px;
    position: relative;
    top: -47px;
    left: 12px;
    border-radius: 10px;
    }      
            .spooky-card .photo{
                overflow: hidden;
                position: relative;
                top: -2px;
                left: -2px;
                border-radius: 10px 10px 0px 0px;
                }
            .spooky-card .note5{
                color: black;
                font-weight: bold;
                position: relative;
                top: 8px;
                left: 3px;
                font-size: 23px;
                }
                
            .spooky-card .price{
                text-align: right;
                color: black;
                font-weight: bold;
                position: relative;
                top: -66px;
                left: -7px;
                font-size: 23px;
                }
            .spooky-card .icon-star{
                color: black;
                position: relative;
                top: -46px;
                left: 8px;
                font-size: 22px;
                }

.early-card{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    width: 346px;
    height: 500px;
    background-color: white;
    margin-bottom: 45px;
    position: relative;
    top: -47px;
    left: 12px;
    border-radius: 10px;
    }

    .early-card .photo{
    overflow: hidden;
    position: relative;
    top: -2px;
    left: -2px;
    border-radius: 10px 10px 0px 0px;
    }
    .early-card .note6{
    color: black;
    font-weight: bold;
    position: relative;
    top: 8px;
    left: 3px;
    font-size: 23px;
    }

    .early-card .price{
        text-align: right;
        color: black;
        font-weight: bold;
        position: relative;
        top: -66px;
        left: -7px;
        font-size: 23px;
    }
    .early-card .icon-star{
    color: black;
    position: relative;
    top: -46px;
    left: 8px;
    font-size: 22px;
    }
